.wrapperSettings {
    display: flex;
    background: #010117;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.detailsNavbar {
    z-index: 900;
    width: 100vw;
}

.containerSettings {
    width: 90%;
    max-width: 400px;
    margin-top: 50px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.containerSettings::before {
    content: "";
    position: absolute;
    background: #002734;
    width: 90%;
    max-width: 400px;
    height: 500px;
    border: 1px solid #0d5462;
    border-radius: 15px;
}

.divTransparence {
    width: 100%;
    max-width: 450px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nemeScreen {
    font-size: 40px;
}

.userName {
    margin-top: 20px;
}

.options {
    display: flex;
    margin-top: 20px;
}

.select {
    height: 40px;
    width: 170px;
    background: black;
    color: white;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px;
    margin-top: 3px;
}

.optionSelect {
    color: white;
}

.locationContainer {
    width: 220px;
}

.select {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background: black;
    color: white;
    border: 0;
    margin-top: 3px;
}

.input {
    max-width: 450px;
    height: 40px;
    width: 100%;
    background: black;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
    margin-top: 3px;
}

.containerInternSettings {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.inputAge {
    height: 40px;
    width: 97%;
    border-radius: 5px;
    background: black;
    color: white;
    border: 0;
    margin-top: 3px;
}

.select {
    height: 40px;
    width: 97%;
    border-radius: 5px;
    background: black;
    color: white;
    margin-bottom: 10px;
    border: 0;
    margin-top: 3px;
}

.caintainerButtons {
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.button {
    background: #ffffff;
    height: 40px;
    margin-top: 10px;
    width: 80%;
    cursor: pointer;

}

.textButton {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.internoDiv {
    width: 80%;
}

.divInputDate {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.divSelect {
    width: 30%;
    display: flex;
    flex-direction: column;
}