* {
  padding: 0;
  margin: 0;
<<<<<<< HEAD
  font-family: Arial, Helvetica, sans-serif;
  color: white;
=======
  font-family: Arial, Helvetica, sans-serif
>>>>>>> e47083bc0710f8ab21bbc991f926d918ebafa8bc
}

body {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #010117;
}