.wrapper-ratings {
    display: flex;
    background: #010117;
    align-items: center;
    width: 100vw;
    justify-content: center;
    flex-direction: column;

    .insert-item {
        display: flex;
        width: 880px;
        margin-top: 150px;
        align-items: center;
        margin-bottom: 50px;
        
        .input {
            height: 40px;
            width: 85%;
            background: #001F30;
            border-radius: 5px;
            border: 0;
            padding: 10px;
        }

        .input::placeholder {
            color: white;
            font-size: 15px;
        }

        .container-vote {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15px;

            .vote {
                color: black;
                position: absolute;
                font-weight: bold;
                margin-top: 3px;
                font-size: 15px;
            }
            .icon-vote {
                width: 32px;
                height: 32px;                
            }
        }

        .button {
            background: #11ffee00; //color transparent
            border: 0px;

            .icon-img {
                width: 30px;
                height: 30px;
                margin-left: 15px;
            }
        }
    }

    .cotainer-cards {
        width: 880px;

        .container-ratings {
            display: flex;
            flex-direction: row;
            background: #001F30;            
            border-radius: 10px;
            margin-bottom: 50px;
    
            .folder-rating {
                width: 15%;
            }
    
            .container-info-card {
                margin-left: 10px;
                margin-top: 10px;
                
                .info-card {
                    display: flex;
                    flex-direction: row;
    
                    .profile-img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50px;
                    }
                    .name-user {                    
                        margin-top: 20px;
                        margin-left: 5px;
                    }
    
                    .icons-trash {
                        margin-left: 550px;
                        margin-top: 20px;
                    }
                }
    
                .comments-card {
                    margin-top: 20px;
                }

                .vote {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    margin-top: 30px;
                    .icon-vote {
                        width: 20px;
                        height: 20px;
                    }
                    .text-vote {
                        color: white;
                        margin-left: 10px;
                    }
                }
            }
        }
    }     
}