.wrapper-details {
    display: flex;
    background: #010117;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 400px;
    min-height: 95vh;
}

.backgrundImg {
    height: 90vh;
    width: 100%;
    background-size: cover;
}

.backgrundImg::before {
    content: " ";
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(to top, #010117, 70%, transparent);
    position: absolute;
}
