.page_body{
    display: flex;
    flex-direction: column;
}

.background_img {
    background-image: url('../../assets/profile_background.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    filter:blur(8px);
}

.background_img::before {
    content: " ";
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: linear-gradient(to top, #010117, 20%, transparent);
    position: absolute;
}

.profile_body{
    // position: absolute;
    display: flex;
    width: 100%;
    margin: 150px 100px;
    align-items: center;
    font-family: "Lato";
    justify-content: space-between;
}

.profile_data{
    width: 50%;
    text-align: center;
}

.profile_name{
    text-align: center;
    color: white;
}

.profile_info{
    text-align: center;
    color: white;
}

.profile_data_pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-position: center top;
}

.profile_menu{
    margin: 0px 200px;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-color: #002E38;
    list-style-type: none;
    align-items: center;
}

.profile_menu_options{
    margin: 15px 25px;
    color: white;
    list-style-type: none;
    line-height: 1.6;
}

.activities{
    margin: 50px 100px;
    color: white;
    // position: absolute;
    // margin-top: 600px;
}

.images_grid{
    margin: 25px 0px;
}

.images_grid img{
    margin: 0px 20px;
    border-radius: 25px;
}

.teste{
    position: absolute;
    display: flex;
    flex-direction: column;
}