.page_body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.lists_navbar{
    z-index: 999;
    width: 100vw;
}

.lists_body h1{
    text-align: center;
    font-weight: bold;
    padding: 25px;
}
