.page_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    margin-bottom: 100px;
}

.lists_body h1 {
    text-align: center;
    font-weight: bold;
    padding: 25px;
}

.lists > * {
    height: 250px;
}

.no_lists {
    text-align: center;
}

.new_list_link {
    height: 35px;
}

.lists_label_new{
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .lists_body h1 {
        padding: 5px;
        font-size: 18px;
    }
    .new_list_link {
        height: 20px;
    }
}