.banner_body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #0d546250;
}

.banner_image {
    mix-blend-mode: normal;
    filter: blur(2px) brightness(25%);
}

.banner_description {
    font-size: 20px;
    position: absolute;
}
