.banner_body {
    display: flex;
    align-items: center;
    text-align: center;
}

.link {
    padding: 10px;
    text-decoration: none;
    transition: background 100ms;
    transition: transform 100ms;
    border-radius: 10px;
}

.link:hover {
    background-color: #0d5462aa;
    transform: scale(1.2) !important;
}

.banner_image {
    height: 350px;
    border-radius: 15px;
}

.banner_title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

@media screen and (max-width: 800px){
    .banner_image {
        height: 125px;
        width: 75px;
    }
    .banner_title {
        font-size: 12px;
        max-width: 75px;
    }
}