.dropdown {
    position: absolute;
    top: 200px;
    width: 200px;
    background-color: #01011c;
    border-radius: 15px;
    padding: 20px;
}

.dropdown button{
    background-color: #001f30;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.menu-item {
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: background 500ms;
    padding: 0.5rem;
}

.menu-item:hover {
    background-color: #001f30;
}

.icon-right {
    margin-left: auto;
}
