.stats_body {
    margin: 0px 200px;
    display: flex;
    flex-direction: column;
}

.stats_box {
    margin: 0px 25px;
    border-radius: 20px;
    padding: 25px;
    width: 100%;
    position: relative;
}

.stats_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #001f30aa;
    border-radius: 16px;
    border: 1px solid #002734;
}

.stats_label {
    position: relative;
    font-size: 24px;
    font-weight: bold;
}

.stats_data {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}

@media screen and (max-width: 800px) {
    .stats_body {
        margin: 0px 25px;
    }
    .stats_box {
        margin: 0px 10px;
        padding: 10px;
    }
    .stats_data {
        padding: 5px 0px;
        align-items: center;
    }
    .stats_label{
        font-size: 12px;
    }
}
