.profile_data {
    display: flex;
    flex-direction: column;
    z-index: 999;
    text-align: center;
    align-items: center;
}

.profile_data_pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
    box-shadow: -4px 0px 20px black;
}

.profile_texts {
    position: relative;
    border-radius: 15px;
    max-width: 350px;
    word-wrap: break-word;
    padding: 25px;
}

.profile_texts::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #001f30aa;
    border-radius: 16px;
    border: 1px solid #002734;
}

.profile_name {
    position: relative;
    font-weight: bold;
    font-size: 20px;
}

.profile_info {
    position: relative;
    font-size: 16px;
}


@media screen and (max-width: 800px){
    .profile_data_pic {
        width: 75px;
        height: 75px;
        margin: 10px;
    }
    .profile_texts {
        max-width: 100px;
    }
    .profile_texts p {
        font-size: 12px;
    }
}