.container .title-slider {
    display: flex;
    width: 1050px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: left;
    justify-content: left;

}

#slidermain {
    display: flex;
    width: 1070px;
    height: 310px;
    background-color: blue;
    flex: 0 0 19.7%;
    text-align: left;
    justify-content: left;
    margin: 0 4px;
    max-width: 1070px;
    max-height: 343px;
    border-radius: 20px;
}