.page_body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.progress_label {
    text-align: center;
    font-weight: bold;
    padding: 25px;
}

.no_tv_shows {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .progress_label {
        padding: 5px;
        font-size: 18px;
    }
}
