.page_body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.progress_details_over_navbar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    z-index: 999;
    width: 100vw;
}


.progress_details_over_body h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    padding: 25px;
}

.seasons_grid{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
